*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background: #3c3c3c;
    color:#fff;
    width: 100%;
}
#container{
    display: flex;
    flex-direction: column;
    background-color: #3c3c3c;
}
#search{
    width: 100%;
    line-height: 2em;
    padding-left: 10px;
}
.accordion{
    background-color: #3c3c3c !important;
}
.accordion-button:not(.collapsed){
    background-color: #eee;
}
#projects{
    width: 50%;
    right: 0;
}
a{
    text-decoration: none;
    color: orangered;
}
a:hover{
    color: orange;
}
.hidden{
    display: none !important;
}
.card{
    border: 1px solid #fff;
    padding: 10px;
    width: 40%;
    margin: 10px;
    background: #2b2b2b;
}
.site_address{
    margin: 5px 0;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #ccc; 
}
.active{
    font-weight: 700;
    color: hsl(237, 12%, 33%);
}
.accordion-collapse {
    padding: 0 18px;
    display: block;
    overflow: hidden;
}